name: Shell Commands

on: [push]

jobs:
  run-shell-commands:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello, World!"

      - name: multiline scripts
        run: |
          node -v
          npm -v

  run-windows-commands:
    runs-on: windows-latest
    steps:
      - name: Directory Powershell
        run: Get-location

      - name: Directory Bash
        run: pwd
        shell: bash